[submodule "linux_mint_wallpaper_20"]
	path = linux_mint_wallpaper_20
	url = https://github.com/siddht1/linux_mint_wallpaper_20
[submodule "linux_mint_wallpaper_21"]
	path = linux_mint_wallpaper_21
	url = https://github.com/siddht1/linux_mint_wallpaper_21
